<div class="banner-container">

    <div class="banner-text-container">
        <p class="want-to-earn-with-us">Want To Earn With Us ?</p>
        <p class="become-our-partner">Become Our Partner</p>
        <p class="earn-profit">Earn profits from our experience & help build <br> awesome careers of students & graduates</p>

        <div class="referral-container">
            <div>icon</div>
            <div>
                <p class="referral">Upto 30% commissions for every successful referral</p>
            </div>
        </div>
        <div class="earn-container">
            <div>icon</div>
            <div>
                <p class="earn">Potential to earn upto Rs 3000 <br> daily</p>
            </div>
        </div>

        <div class="banner-button-container">
            <button class="our-works"><span class="our-works-text">Our Works</span> </button>
            <button class="know-more"><span class="know-more-text">Know More</span> </button>
        </div>

    </div>

</div>
